<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVISA TRICOLOR - Consiga aquele ingresso disputado!</title>
    <script src="/static/js/scripts.js" defer></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <h1>AVISA TRICOLOR</h1>
    <h2>Tá sofrendo para encontrar um ingresso? Deixa que a gente te avisa, tricolor!</h2>
    <div id="linksContainer">
        <a href="#">ℹ️ Como funciona?</a>
        <a href="#">💵 Fazer doação</a>
    </div>
    <div id="appContainer">
        <div class="card" id="passo-1">
            <h3>1º passo:</h3>
            <p>Escolha o jogo para o qual deseja comprar ingresso:</p>
            <div id="core"></div>
            <div id="mensagens"></div>
            <div id="logContainer">
                <p></p>
                <ul></ul>
            </div>
        </div>
    </div>
</body>

</html>